{% extends "base.html" %}

{% block content %}

<h1>Signup</h1>

<form action="/signup-confirmation" method="post">
    <label>
        <p>
        <span>
        Username
        <input type="text" name="username" value=" {{ request.form['username'] }} "/>
        </span>
        <span class="error">{{ username_error }}</span>
        </p>
        <p>
        <span>
        Password
        <input type="password" name="password"/>
        </span>
        <span class="error"> {{ password_valid_error }} </span>
        </p>
        <p>
        <span>
        Verify Password
        <input type="password" name="verify-password"/>
        </span>
        <span class="error"> {{ password_match_error }} </span>
        </p>
        <p>
        <span>
        Email (optional)
        <input type="text" name="email" value=" {{ request.form['email'] }}"/>
        </span>
        <span class="error"> {{ email_error }} </span>
        </p>
    </label>
    <input type="submit" value="Submit"/>
</form>



{% if error %}
  <p class='error'>{{ error }}</p>
{% endif %}
{% endblock %}